$bg-male-color: #e07f49;
$bg-female-color: #e0495e;
$male-image: url('../images/male.png');
$female-image: url('../images/female.jpg');
$box-shadow-card: 0px 0px 34px rgba(0, 0, 0, 0.15);
$h1-color: #5e5e5e;
$h2-color: #999;
$text-color: #888;
$border-color: #ccc;
$btn-text-color: #fff;
$btn-bg-color: #292929;
$tag-text-color: #fff;
$tag-bg-color: #009ca5;